.container {
  display:block;
  width: 100%;
  margin: 5rem 0;
}
.card {
  margin: 0 2% !important;
}

.card.deaths {
  border-bottom: 1rem solid rgba(255,0,0, 0.5);
}
.card.recovered {
  border-bottom: 1rem solid rgba(0, 255, 0, 0.5);
}
.card.confirmed {
  border-bottom: 1rem solid rgba(0, 0, 255, 0.5);
}

.cardLabel {
  font-size: 15px !important;
  color: grey;
}